body{
    background-image: url("/Lego bricks/background2.webp");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    image-rendering: crisp-edges; 
}

h1 {
    text-align: center;
    background: linear-gradient(to right, skyblue, rgb(190, 13, 117) );
}
p{
    text-align: center;
    color: silver;
    font-size: larger;
}

/* === removing default button style ===*/
#next {
    position: relative;
    top: 100px;
    left: 610px;
    margin: 0;
    height: auto;
    background: transparent;
    padding: 0;
    border: none;
    cursor: pointer;
    size: 200px;
}

/* button styling */
#next {
    --border-right: 6px;
    --text-stroke-color: rgba(255,255,255,0.6);
    --animation-color: #37FF8B;
    --fs-size: 2em;
    letter-spacing: 3px;
    text-decoration: none;
    font-size: var(--fs-size);
    font-family: "Arial";
    position: relative;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 1px var(--text-stroke-color);
}
img{
    position: relative;
    top: 5px;
    left: 550px;
}
#wrong{
    position: relative;
    top: 300px;
    left: 540px;
}
#W1{
    color: cyan;
    background-color: black;
    border-radius: 10%;
    font-family: Arial, Helvetica, sans-serif;
}
#W2{
    color: cyan;
    background-color: black;
    border-radius: 10%;
    font-family: Arial, Helvetica, sans-serif;
}
#W3{
    color: cyan;
    background-color: black;
    border-radius: 10%;
    font-family: Arial, Helvetica, sans-serif;
}
#iphone14btn{
    position: relative;
    top: 321px;
    left: 435px;
    color: cyan;
    background-color: black;
    border-radius: 10%;
    font-family: Arial, Helvetica, sans-serif;
}
#wrong2{
    position: relative;
    top: 300px;
    left: 540px;
}
#W4{
    color: cyan;
    background-color: black;
    border-radius: 10%;
    font-family: Arial, Helvetica, sans-serif;
}
#W5{
    color: cyan;
    background-color: black;
    border-radius: 10%;
    font-family: Arial, Helvetica, sans-serif;
}
#W6{
    color: cyan;
    background-color: black;
    border-radius: 10%;
    font-family: Arial, Helvetica, sans-serif;
}
#S25btn{
    position: relative;
    top: 279px;
    left: 392px;
    color: cyan;
    background-color: black;
    border-radius: 10%;
    font-family: Arial, Helvetica, sans-serif;   
}

#wrong3{
    position: relative;
    top: 300px;
    left: 540px;
}
#W7{
    color: cyan;
    background-color: black;
    border-radius: 10%;
    font-family: Arial, Helvetica, sans-serif;
}
#W8{
    color: cyan;
    background-color: black;
    border-radius: 10%;
    font-family: Arial, Helvetica, sans-serif;
}
#W9{
    color: cyan;
    background-color: black;
    border-radius: 10%;
    font-family: Arial, Helvetica, sans-serif;
}
#I15btn{
    position: relative;
    top: 279px;
    left: 436px;
    color: cyan;
    background-color: black;
    border-radius: 10%;
    font-family: Arial, Helvetica, sans-serif;   
}


.imgposition{
    position: relative;
    top: 10px;
    left: 470px;
}

.imgposition2{
    position: relative;
    top: 10px;
    left: 550px;
}

#I{
    position: relative;
    top: 275px;
    left: 560px;
    border-color: blue;
    border-radius: 15%;
}
#submit{
    position: relative;
    top: 279px;
    left: 625px;
    color: cyan;
    background-color: black;
    border-radius: 10%;
    font-family: Arial, Helvetica, sans-serif;
}
